@model ArticleView

@{
    ViewBag.Title = "Edit";
    Layout = "_bkdLayout";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Article</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />

        <div class="form-group">
            <label asp-for="Metadonnees" class=""></label>
            <textarea asp-for="Metadonnees" class="form-control" ></textarea>
            <span asp-validation-for="Metadonnees" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContenuMarkdown" class=""></label>
            <textarea id="js-editor-content" asp-for="ContenuMarkdown" class="form-control" ></textarea>
            <span asp-validation-for="ContenuMarkdown" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
            <input type="submit" value="Publier" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
<script src="@Url.Content("~/vendor/simplemde/simplemde.min.js")"></script>
<script>
    //var simplemde = new SimpleMDE({
    //    element: document.getElementById("js-editor-metadonnees")
    //});
    var mdeContent = new SimpleMDE({
        element: document.getElementById("js-editor-content"),
        spellChecker: false
    });
</script>