<div class="axeFormation">
    <div>
        <a href="formation">
            @Html.Partial("Logos/LogoFormation")
            <div class="axeFormation-titre">formation</div>
            <div class="axeFormation-detail">Proposer des formations professionnelles en tant qu’organisme de formation</div>
        </a>
    </div>
</div>