<div class="axePrevention">
    <div>
        <a href="prevention">
            @Html.Partial("Logos/LogoPrevention")
            <div class="axePrevention-titre">prévention</div>
            <div class="axePrevention-detail">faciliter la mise en œuvre de la prévention des pathologies du langage et de la communication ...</div>
        </a>
    </div>
</div>