<div class="axeRecherche">
    <div>
        <a href="recherche">
            @Html.Partial("Logos/LogoRecherche")
            <div class="axeRecherche-titre">recherche</div>
            <div class="axeRecherche-detail">Aider les orthophonistes à élaborer ou à collaborer à des projets de recherche et favoriser la publication de nouveaux résultats avec le concours de chercheurs universitaires.</div>
        </a>
    </div>
</div>