<div class="article-prevention articleResume articleResume-prevention">
    @Html.Partial("Articles/ArticleInfo")
    <div class="articleResume-contenu clearfix">
        @Html.Raw(@Model.Resume)
        <a class="readMore u-floatRight" href="@Model.AxeCss/article/@(Model.Url)">Lire la suite</a>
    </div>
</div>