@model ArticleView

<div class="article-recherche articleResume articleResume-recherche">
    @Html.Partial("Articles/ArticleInfo")
    <div class="articleResume-contenu clearfix">
        @Html.Raw(@Model.Resume)
        <a class="readMore u-floatRight" href="@Model.AxeCss/@(Model.UrlComplete)">Lire la suite</a>
    </div>
</div>