.articleDetail {
    background-color: $color-bg-article;    
    padding: 20px 10px;
    max-width: 40em;
    left: 0px;
    right: 0px;
    margin: auto;    
}

.articleDetail h1 {
    margin-top: 30px;
}

.articleDetail h2 {
    margin-top: 30px;
}

.articleDetail h2 + h3 {
    margin-top: 20px;
}

.articleDetail h3 {
    margin-top: 30px;
    color: #000;
/*    font-size: 1.1em;
    font-variant: all-petite-caps;*/
}

.articleDetail h3 +p {
    margin-top: 5px;
}

/*.articleDetail p {
    margin-top: 15px;
}*/

.articleDetail-adresse,
.articleDetail-inscription {
    margin-left: 10px;
    font-size: .9em;
}


.article-prevention a {
    color: $color-prevention-dark;
}

.article-recherche a {
    color: $color-recherche-dark;
}

@media only screen and (min-width: 510px) {

}
    
@media only screen and (min-width: 860px){
    
}