.prevention .post,
.recherche .post,
.formation .post {
    margin: 0;
}

.post .axePrevention,
.post .axeRecherche,
.post .axeFormation {
    display: none;
}

.post blockquote {    
      /*border-left: solid 2px gray;*/
      padding-left: 10px;
      margin-left: 10px;
      font-style: italic;
}